# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autotools files
*.in
config.h
config.h.*
autom4te.cache
aclocal.m4
Makefile
.deps
configure
config.log
config.status
stamp-h1

# VIM
*.swp

# binaries
buffer_allocator_test
buffer_allocator_container_test
